@import "tailwindcss";

:root {
  --background: #fbf7f0;
  --foreground: #4f3c32;
  --brown: #4f3c32;
  --cream: #fbf7f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brown: #4f3c32;
  --color-cream: #fbf7f0;
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
